<shared-page-container
  [focused]='focused'
  [transitioned]='transitioned'
  [animationType]='"side"'
  [bgColor]='"#9289c8"'
  [altBgColor]='"#5545ba"'>
    <span
      id='back-link'
      (mouseenter)='handleMouseEnter()'
      (mouseleave)='handleMouseExit()'
      (click)='onCLick()'>
        Go back to movies
    </span>

    <shared-container [id]='"account-settings"'>
        <div id='"account-settings-details"'>
            <h1>Account settings</h1>
            <p>
                Change your personal information and how you<br> access the application.
            </p>
            <shared-undoable-input
              (onChange)='handleFirstNameChange($event)'
              [initialValue]='user?.first_name'
              [label]='"First name"'
              [placeholder]='"..."'>
            </shared-undoable-input>
            <shared-undoable-input
              (onChange)='handleLastNameChange($event)'
              [initialValue]='user?.last_name'
              [label]='"Last name"'
              [placeholder]='"..."'>
            </shared-undoable-input>
            <shared-undoable-input
              (onChange)='handleEmailChange($event)'
              [initialValue]='user?.email'
              [label]='"Email"'
              [placeholder]='"x@y.z"'>
            </shared-undoable-input>
        </div>
        <shared-container [id]='"danger-settings"' [bgColor]='"#f3f3f3"' [rounded]='true'>
            <h2>Danger zone</h2>
            <p>
                These actions are irreversible and can lead to
                unintentionally loose access to your account. Be
                careful about proceeding.
            </p>
            <hr/>
            <div>
                Change the existing password.<br/>
                <i>
                    You will need to provide
                    the new one the next time you login.
                </i>
                <form>
                    <shared-input
                      (onChange)='handlePasswordChange($event)'
                      [type]='"password"'
                      [label]='"Password"'
                      [placeholder]='"xxxx"'>
                    </shared-input>
                    <shared-button (clickEvent)='handlePasswordChangeClick()'>
                        Change the password
                    </shared-button>
                </form>
            </div>
            <hr/>
            <div>
                Delete the account.<br/>
                <i>
                    Your account will be permanently deleted and you will be
                    sent to the home screen.
                </i><br/>
                <shared-button (clickEvent)='handleDeleteAccountClick()'>
                    Delete account
                </shared-button>
            </div>
        </shared-container>
    </shared-container>
</shared-page-container>