<shared-page-container
  [focused]='focused'
  [transitioned]='transitioned'
  [animationType]='"side"'
  [bgColor]='"#9289c8"'
  [altBgColor]='"#5545ba"'>
    <span
      id='back-link'
      (mouseenter)='handleMouseEnter()'
      (mouseleave)='handleMouseExit()'
      (click)='onCLick()'>
        Go back to movies
    </span>

    <h1>Account settings</h1>

    <shared-container [bgColor]='"lightblue"' [rounded]='true'>
        <shared-input [label]='"First name"' [placeholder]='"..."'></shared-input>
        <shared-input [label]='"Last name"' [placeholder]='"..."'></shared-input>
        <shared-input [label]='"Email"' [placeholder]='"x@y.z"'></shared-input>
        <shared-input [type]='"password"' [label]='"Password"' [placeholder]='"xxxx"'></shared-input>
    </shared-container>
</shared-page-container>