<shared-page-container
  [focused]='focused'
  [transitioned]='transitioned'
  [animationType]='"side"'>
    <shared-button
      (mouseenter)='handleMouseEnter()'
      (mouseleave)='handleMouseExit()'
      (clickEvent)='onCLick()'>Click me</shared-button>
    <br/>
    <shared-undoable-input (onChange)='handleNameChange($event)' initialValue='{{ name }}' placeholder='enter your name'></shared-undoable-input>
    <br/>
    <br>

    <shared-container [bgColor]='"lightblue"' [rounded]='true' [extraClasses]='"cover"'>
        <shared-input initialValue='23' type='number' label='Your name' placeholder='enter your name'></shared-input>
        <shared-input label='Your name' placeholder='enter your name'></shared-input>
        <shared-input type='email' label='Your name' placeholder='enter your name'></shared-input>
    </shared-container>

    <shared-container [bgColor]='"lightgrey"'>
        <router-outlet></router-outlet> 
    </shared-container>
</shared-page-container>