<shared-page-container
  [focused]='focused'
  [transitioned]='transitioned'
  [altBgColor]='altBgColor'
  id='page-container'>
    <div id="top-navigation">
        <span
          (mouseenter)='handleAccountMouseEnter()'
          (mouseleave)='handleMouseLeave()'
          (click)='handleAcountClick()'>
            Account
        </span>
        <span
          (mouseenter)='handleLogoutMouseEnter()'
          (mouseleave)='handleMouseLeave()'
          (click)='handleLogoutClick()'>
            Logout
        </span>
    </div>
    <shared-container [id]='"movies-page"'>
        <h1>Movies</h1>
        <p>See the latest movies, rate and continue discovering new ones.</p>
        <section>
            <div class='movieFlexContainer'>
                <div id='unrated-movies-title'>
                    <h2>Have a look at these new movies</h2>
                    <p>
                        A large collection of unrated movies for you to discover.
                    </p>
                    <shared-button>See previous page</shared-button>
                    <shared-button>See next page</shared-button>
                </div>
                <movie
                  *ngFor='let movie of unratedMovies.movies'
                  (onRate)='handleRateCreation(movie.id, $event)'
                  [rating]='null'
                  [movie]='movie'></movie>
            </div>
        </section>
        <section>
            <h2>
                Your rated movies
            </h2>
            <shared-button>See previous page</shared-button>
                <shared-button>See next page</shared-button>
                <div class='movieFlexContainer'>
                    <movie
                        *ngFor='let movie of ratedMovies.movies'
                        (onRate)='handleRateUpdate(movie.id, $event)'
                        [rating]='ratings?.get(movie.id)'
                        [movie]='movie'></movie>
                </div>
        </section>
    </shared-container>
</shared-page-container>