@use '../../../styles.scss';

.container{
    display: block;
    position: relative;
    margin: styles.$space-small;
    padding: styles.$space-small;

    &.container-rounded{
        @include styles.rounded;
    }
}